<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MovieFinder</title>
  </head>
  <body>
    <h1>MovieFinder</h1>

    <p><%= 2 + 2 %></p>

    <% ["Snickers", "Starburst", "Twix"].each do |candy| %>
      <p><%= candy %></p>
    <% end %>
  </body>
</html>
